/* Import the font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Apply the font globally to the body */
body {
    font-family: 'Poppins', sans-serif !important;
    background-color: #f8f9fa  !important;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-y: auto;
  }
  
  
  
  img, video {
    max-width: 100%;
    height: auto;
  }
  